.nav{
    background: rgba(184, 42, 42, 0.733);
    
    
}


.link{
  color:rgb(224, 224, 224);
  text-decoration: none;
  padding: 10pt; 
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px; 
  
}

.alink{
    color:#c9c9c9;
    font-weight: bold;
    text-decoration: none;
    padding: 10pt; 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px; 
    border-right:3pt solid rgb(248, 171, 100);
  
    border-radius:0pt 10pt 40pt 1pt;
    
  }



.link:hover{
    color:rgb(243, 243, 243);
}

.alink:hover{
    color:rgb(123, 124, 120);

}



.cover{
    background-image: url(images/a.jpg);
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 800px;
    background-position: center;
    border-radius:0pt 0pt 300pt 0pt;
    border-right:10pt solid rgba(156, 0, 0, 0.466);
}

.Heading{
    color: white; font-Family: sans-serif;
}

.logo{
    font-size: 26px; color: #ebebeb; padding: 15pt; font-weight: bold; font-family: Source Sans Pro;
}

.cover_overlay{
    
    background:rgba(41, 15, 0, 0.438);
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 800px;
    background-position: center;
    border-radius:0pt 0pt 250pt 0pt;
   
}


.cards{
    height:200pt;
    background-size: cover;
    background: rgba(0, 0, 0, 0.747);
}